.Header {
    position: relative;
    height: 110px;
    width: 100%;
    background: white;
    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.700);
    -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.700);
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.700);
    z-index: 9999999;
}

.Header-nav {
    position: static;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Header-logo-section {
    position: absolute;
    left: 27px;
}

.Header-icon {
    height: 110px;
    width: 110px;
    background: white;
    color: blue;
    padding: 15px;
}

.Header-navigation-section {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 35px;
    margin: 0 auto;
}

.header-top-div {
    display: flex;
}

.Header-navigation {
    display: flex;
    list-style-type: none;
}

.h-n-top {
    margin: 10px 120px;
}

.Header-navigation-option {
    position: relative;
    height: 35px;
    width: auto;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}

.up-arrow {
    position: absolute;
    color: orange;
    font-size: 2.7rem;
    margin-left: auto;
    margin-right: auto;
    top: 41px;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.25s ease-in-out;
}

.Header-navigation-links {
    position: absolute;
    left: 9px;
    list-style-type: none;
    background: white;
    width: max-content;
    min-width: 230px;
    max-width: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 98;
    display: none;
}

.Header-navigation-links a {
    text-decoration: none;
    color: black;
}

.Header-navigation-links li {
    position: relative;
    width:auto;
    min-width: 230px;
    max-width: 250px;
    font-size: 15px;
    font-weight: 700;
    margin: auto;
    margin-left: -32px;
    padding: 7px 10px;
}

.icon-one {
    height: 35px;
    width: 35px;
    margin-left: -10px;
    margin-right: 10px;
}

.arrow-one {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 8.5px;
}

.Header-navigation-links-li {
    position: relative;
}

.Header-navigation-links-2 {
    position: absolute;
    top: 10px;
    left: 97%;
    list-style-type: none;
    background: white;
    width: 230px;
    border-radius: 5px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: 99;
    display: none;
}

.Header-navigation-links-2 li {
    position: relative;
    width: 230px;
    font-size: 15px;
    font-weight: 700;
    margin: auto;
    margin-left: -32px;
    padding: 7px 10px;
}

.Navigation-option:hover.Navigation-option .up-arrow {
    top: 21px;
}

.Header-navigation-option:hover.Header-navigation-option div {
    color: white;
}

.Header-navigation div:hover~.Header-navigation-links,
.Header-navigation-links:hover {
    display: block;
}

.Header-navigation-links li:hover {
    background: rgba(255, 216, 138, 0.925);
}

.Header-navigation-links-li>li:hover~.Header-navigation-links-2,
.Header-navigation-links-2:hover {
    display: block;
}

.Header-logo-end {
    position: absolute;
    right: 27px;
}

.Header-icon-2 {
    height: 110px;
    width: 100px;
    background: white;
    color: blue;
    padding: 15px;
}